@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <hr>
        <p class="lead">Please Register or Log In</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <partial name="RegPartial"/>
        </div>
        <div class="col-6">
            <partial name="LogPartial"/>
        </div>
    </div>
</div>