@{
    ViewData["Title"] = "Success Page";
}


<div class="jumbotron">
    <div class="mx-auto" style="width: 600px;">
        <h1 class="display">Success! Click <a href="/">here</a> to Log In. </h1>
    </div>
</div>